[submodule ".registry"]
	path = .registry
	url = https://github.com/psolymos/universe
	shallow = true
	branch = HEAD
[submodule "pbapply"]
	path = pbapply
	url = https://github.com/psolymos/pbapply
	shallow = true
	registered = true
[submodule "moosecounter"]
	path = moosecounter
	url = https://github.com/psolymos/moosecounter
	shallow = true
	registered = true
[submodule "sharx"]
	path = sharx
	url = https://github.com/psolymos/sharx
	shallow = true
	registered = true
[submodule "EDMAinR"]
	path = EDMAinR
	url = https://github.com/psolymos/EDMAinR
	shallow = true
	registered = true
[submodule "clickrup"]
	path = clickrup
	url = https://github.com/psolymos/clickrup
	shallow = true
	registered = true
[submodule "bSims"]
	path = bSims
	url = https://github.com/psolymos/bSims
	shallow = true
	registered = true
[submodule "WildLift"]
	path = WildLift
	url = https://github.com/psolymos/WildLift
	shallow = true
	registered = true
[submodule "opticut"]
	path = opticut
	url = https://github.com/psolymos/opticut
	shallow = true
	registered = true
[submodule "detect"]
	path = detect
	url = https://github.com/psolymos/detect
	shallow = true
	registered = true
[submodule "intrval"]
	path = intrval
	url = https://github.com/psolymos/intrval
	shallow = true
	registered = true
[submodule "ResourceSelection"]
	path = ResourceSelection
	url = https://github.com/psolymos/ResourceSelection
	shallow = true
	registered = true
[submodule "mefa"]
	path = mefa
	url = https://github.com/psolymos/mefa
	shallow = true
	registered = true
[submodule "mefa4"]
	path = mefa4
	url = https://github.com/psolymos/mefa4
	shallow = true
	registered = true
[submodule "QPAD"]
	path = QPAD
	url = https://github.com/psolymos/QPAD
	shallow = true
	registered = true
[submodule "KnockKnockJokes"]
	path = KnockKnockJokes
	url = https://github.com/psolymos/KnockKnockJokes
	shallow = true
	registered = true
[submodule "vegan"]
	path = vegan
	url = https://github.com/vegandevs/vegan
	shallow = true
	registered = true
[submodule "paired"]
	path = paired
	url = https://github.com/borealbirds/paired
	shallow = true
	registered = true
[submodule "lhreg"]
	path = lhreg
	url = https://github.com/borealbirds/lhreg
	shallow = true
	registered = true
[submodule "PVAClone"]
	path = PVAClone
	url = https://github.com/psolymos/PVAClone
	shallow = true
	registered = true
[submodule "dclone"]
	path = dclone
	url = https://github.com/datacloning/dclone
	shallow = true
	registered = true
[submodule "dcmle"]
	path = dcmle
	url = https://github.com/datacloning/dcmle
	shallow = true
	registered = true
[submodule "abmidata"]
	path = abmidata
	url = https://github.com/ABbiodiversity/abmidata
	shallow = true
	registered = true
[submodule "allinone"]
	path = allinone
	url = https://github.com/ABbiodiversity/allinone
	shallow = true
	registered = true
[submodule "cure4insect"]
	path = cure4insect
	url = https://github.com/ABbiodiversity/cure4insect
	shallow = true
	registered = true
