[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bSims"]
	path = bSims
	url = https://github.com/psolymos/bsims
	shallow = true
	registered = true
	oncran = true
[submodule "detect"]
	path = detect
	url = https://github.com/psolymos/detect
	shallow = true
	registered = true
	oncran = true
[submodule "intrval"]
	path = intrval
	url = https://github.com/psolymos/intrval
	shallow = true
	registered = true
	oncran = true
[submodule "mefa"]
	path = mefa
	url = https://github.com/psolymos/mefa
	shallow = true
	registered = true
	oncran = true
[submodule "mefa4"]
	path = mefa4
	url = https://github.com/psolymos/mefa4
	shallow = true
	registered = true
	oncran = true
[submodule "opticut"]
	path = opticut
	url = https://github.com/psolymos/opticut
	shallow = true
	registered = true
	oncran = true
[submodule "pbapply"]
	path = pbapply
	url = https://github.com/psolymos/pbapply
	shallow = true
	registered = true
	oncran = true
[submodule "PVAClone"]
	path = PVAClone
	url = https://github.com/psolymos/pvaclone
	shallow = true
	registered = true
	oncran = true
[submodule "ResourceSelection"]
	path = ResourceSelection
	url = https://github.com/psolymos/resourceselection
	shallow = true
	registered = true
	oncran = true
[submodule "sharx"]
	path = sharx
	url = https://github.com/psolymos/sharx
	shallow = true
	registered = true
	oncran = true
